<div class="inner">
    <div class="menu_holder row">
      <div class="col-md-2 col-md-offset-1">
          <div class="menu_caption">Ebookchain</div>
          <ul>

              <li class="m_item"><a href="https://github.com/Ebookchain" class="gl_link" target="_blank">GitHub</a></li>
              <li class="m_item"><a href="https://github.com/Ebookcoin" class="gl_link" target="_blank">博客币</a></li>
              <li class="m_item"><a href="http://book.btcnodejs.com" class="gl_link" target="_blank">文档</a></li>
          </ul>
      </div>
      <div class="col-md-2">
          <div class="menu_caption">资源</div>
          <ul>
              <li class="m_item"><a href="https://blog.ebookchain.org/" class="gl_link" target="_blank">博客</a></li>
              <li class="m_item"><a href="https://forum.ebookchain.org/" class="gl_link" target="_blank">论坛</a></li>
              <li class="m_item"><a href="https://blog.ebookchain.org/faq" class="gl_link" target="_blank">问答</a></li>
          </ul>
      </div>

      <div class="col-md-2">
          <div class="menu_caption">社交媒体</div>
          <ul>
              <li class="m_item"><a href="https://www.facebook.com/Ebookchain-576963915799853/" class="gl_link" target="_blank">Facebook</a></li>
              <li class="m_item"><a href="https://twitter.com/Ebookchain" class="gl_link" target="_blank">Twitter</a></li>
              <li class="m_item"><a href="https://plus.google.com/communities/102644734314168885122" class="gl_link" target="_blank">Google+</a></li>
          </ul>
      </div>

      <div class="col-md-2">
          <div class="menu_caption"></div>
          <ul>
              <li class="prcode">
                  <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933">
                    <img border="0" src="images/185046161.png" alt="ebookcoin-官方QQ群：185046161" title="ebookcoin-官方QQ群：185046161">
                  </a>
              </li>
              <li>
              </li>
          </ul>
      </div>

      <div class="col-md-2">
          <div class="menu_caption"></div>
          <ul>
              <li class="prcode">
                  <img border="0" src="images/ebookchain-weixin.png" alt="ebookchain-官方微信群" title="ebookchain-官方微信群">
              </li>
              <li>
              </li>
          </ul>
      </div>
    </div>
    <div class="bottom row">
        <div class="logo_holder"><a href="/" class="logo"><img src="icons//ebookchain-logo-40x40.png" alt="Ebookchain"/></a></div>
        <div class="copyright">Copyright © 2016 Ebookchain. All rights reserved.</div>
    </div>
</div>
