<footer class="global-footer" id="global-footer">
  <nav class="footer-nav-grid" role="navigation">
    <ul class="footer-nav-column footer-nav-company">
      <li class="footer-nav-heading">亿书</li>
      <li class="footer-nav-link"><a class="" href="http://blog.ebookchain.org/about/">关于</a></li>
      <li class="footer-nav-link"><a class="" href="http://blog.ebookchain.org/team/">团队</a></li>
      <li class="footer-nav-link"><a href="http://forum.ebookchain.org/">反馈</a></li>
      <li class="footer-nav-link"><a class="" href="http://blog.ebookchain.org/contact/">联系</a></li>
      <li class="footer-nav-link"><a class="" href="http://ebookchain.org/logos/">Logos</a></li>
    </ul>
    <ul class="footer-nav-column footer-nav-ghost">
      <li class="footer-nav-heading">开源产品</li>
      <li class="footer-nav-link"><a class=" current-parent" href="/">官网</a></li>
      <li class="footer-nav-link">
        <a href="http://explorer.ebookchain.org/" target="_blank">区块</a>
      </li>
      <li class="footer-nav-link">
        <a href="http://testnet.ebookchain.org/" target="_blank">测试链</a>
      </li>
      <li class="footer-nav-link">
        <a href="https://github.com/Ebookchain" target="_blank">亿书链</a>
      </li>
      <li class="footer-nav-link">
        <a href="https://github.com/Ebookcoin" target="_blank">亿书币</a>
      </li>
    </ul>
    <ul class="footer-nav-column footer-nav-developers">
      <li class="footer-nav-heading">开发者</li>
      <li class="footer-nav-link">
        <a class="" href="http://blog.ebookchain.org/roadmap/">路线图</a>
      </li>
      <li class="footer-nav-link">
        <a class="" href="http://blog.ebookchain.org/resources/">开发资源</a>
      </li>
      <li class="footer-nav-link">
        <a class="" href="http://blog.ebookchain.org/contribute/">代码贡献</a></li>
      <li class="footer-nav-link"><a href="http://blog.ebookchain.org/developments">开发博客</a></li>
       <li class="footer-nav-link">
        <a href="http://blog.ebookchain.org/books" target="_blank">社区书籍</a>
      </li>
    </ul>
    <ul class="footer-nav-column footer-nav-suport">
      <li class="footer-nav-heading">社交媒体</li>
      <li class="footer-nav-link"><a href="https://www.facebook.com/Ebookchain-576963915799853/">Facebook</a></li>
      <li class="footer-nav-link"><a href="https://twitter.com/Ebookchain">Twitter</a></li>
      <li class="footer-nav-link"><a href="https://plus.google.com/communities/102644734314168885122">Google+</a></li>
      <li class="footer-nav-link"><a href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933">官方QQ群：185046161</a></li>
      <li class="footer-nav-link"><a href="#">官方微信：ebookchain-官方微信群</a></li>
    </ul>
  </nav>
  <div class="logo-grid">
    <div class="poweredby logo-grid-item">
     Copyright © 2016 Ebookchain. All rights reserved.
     Powered <em>by</em> <a href="https://github.com/Ebookcoin" target="_blank">Ebookcoin</a></div>
  </div>
</footer>