<header id="global-header" class="global-header navbar">
   <nav role="navigation">
       <div class="wrapper">
           {{#if @blog.logo}}<a class="blog-logo" href="/"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
           {{/if}}
           <button type="button" class="mobile-menu" data-toggle="closed" data-target=".nav-collapse">
           <span class="hidden">Menu</span>
           </button>
           <ul id="main-menu" class="nav-collapse closed">
                <li><a href="http://ebookchain.org">亿书主页</a></li>
                <li>
                    <a title="Sign in" class="btn btn-default navbar-btn" href="http://chainclub.org/login">登录/注册</a>
                </li>
           </ul>
       </div>
    </nav>
</header>
