<aside class="blog-sidebar">

    {{!-- <section class="blog-text blog-text-dev widget">
        <p>官方信息:</p>
        <ul>
            <li><a href="#/.github/CONTRIBUTING.md">Contributing Guide</a></li>
            <li><a href="#/roadmap">Official Roadmap</a></li>
            <li><a href="#/slack/">Slack developer chat</a></li>
            <li>Meetings: Tuesdays, 17:30 UTC</li>
        </ul>
    </section> --}}

    <section class="popular-posts widget">
        <h3>当前 <mark>最受关注</mark> 的文章</h3>
        {{!
            Yep this is static. Soz. You were probably hoping for something fancy.
        }}
        <ol>
        {{#foreach posts}}
          <li class="{{post_class}}">
            <a href="{{url}}">
              <span class="number" aria-hidden="true">1</span>
              {{{title}}}
            </a>
          </li>
        {{/foreach}}
        </ol>
    </section>

</aside>
